.tableDiv {
    width: 100%;
    height: 95%;
    overflow-y: auto;
}

.tableDiv table {
    width: 100%;
    border-collapse: collapse;
}

.tableDiv table thead {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.tableRow {
    transition: background-color 250ms ease;
}

.tableRowRed {
    background-color: indianred;
    transition: background-color 250ms ease;
}

.tableRowGreen {
    background-color: lightgreen;
    transition: background-color 250ms ease;
}